* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16px;
	color: #000;
	line-height: 1.55;
}

body {
	background-color: #000;
}

main {
	width: 920px;
	margin: 0 auto;
}

#sec-1 {
	height: 115px;	
	background: #000 url("../images/bg1.jpg") no-repeat;
	text-align: right;
	padding-top: 20px;
	padding-right: 20px;
	border-bottom:thin solid #666;
}

#sec-1 a {
	opacity: 0.5;
}

#sec-1 a:hover {
	opacity: 1;
}

#sec-2 {
	background-color: #000;
}

#sec-2 ul{
	list-style-type: none;
	margin-left: 10px;
}

#sec-2 ul li{
	display: inline-block;	
}

#sec-2 ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #CCC;
	padding: 10px;
	display: inline-block;
}

#sec-2 ul li a:hover{
	background-color: #3399FE;
	color: #FFF;
}

#sec-3 {
	background-color: #CCC;
	padding: 10px;
}

#sec-4 {
	background-color: #CCC;
	padding: 20px 10px;
}

#sec-4 h1{
	color: #049BFD;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 500;
	border-bottom: thin solid #999;
	padding: 0 10px 10px;
	margin-bottom: 1rem;
}

#sec-4 p {
	margin: 16px 10px;
	text-align: justify;
}

#sec-4 ul {
	margin: 16px 10px 16px 60px;
	text-align: justify;
}

#sec-4>article{
	float: left;
	width: 68%;
}

#sec-4>article>figure{
	text-align: center;
}

#sec-4>article>figure img{
	margin:0 5px;
	border:thin solid #FFF;
	padding: 5px;
}

#sec-4>aside{
	float: right;
	width: 30%;
}

#sec-4>aside>article{
	padding: 0 10px;
}

#sec-4>aside>article>h3, #sec-4>aside>article>h4{
	text-transform: uppercase;
	font-size: 0.85rem;
}

#sec-4>aside>article>h3{
	color: #FF6237;
	margin-bottom: 5px;
}

#sec-4>aside>article>h4{
	color: #049BFD;
}

#sec-4>aside>article>p{
	margin: 16px 0;
	font-size: 0.9rem;
}

#sec-4>figure {
	text-align: center;
}

#sec-4>figure>img{
	margin: 15px;
	
}


#sec-5 {
	background-color: #CCC;
}

#sec-5>div {
	border-top: thin solid #999;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 0;
}

#sec-5 p {
	text-align: center;
	font-size: 0.85rem;
}





.active{background-color: #C0392B;}
.clearfix {clear: both;}














